<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-home">
      CHEECKLIST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <div class="container1" [routerLink]="['/log-docente']" >
    <ion-button>
      INGRESAR COMO DOCENTE
    </ion-button> -->
  <!-- z   -->
  <div class="container">
    <ion-button [routerLink]="['/login']">
      INGRESAR COMO ALMUNO
    </ion-button>
  </div>
</ion-content>
