.h6{
    text-align: center;
}

.titulo-card{
    text-align: center;
}

.btn-ingresar{
    width: 100%;
}

.btn-registro{
    width: 100%;   
}

.title-login{
    text-align: center;
}

ion-button{
    display: flex;
    flex-direction: row;
    
}